<header class="p-3 mb-3 border-bottom   nav" >
    <div class="container" >
      <div class="d-flex flex-wrap align-items-center justify-content-between ">
        <div class="d-flex justify-content-between">
        <a href="/" class="d-flex flex-wrap align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="/static/img/logo.png" width="45" height="45" alt="">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-primary-emphasis">
          <li class="nav-item"><a href="/" class="nav-link px-2 ">Главная</a></li>
          {{#if user}}
            {{#if user.isAdmin}}
              <li class="nav-item"><a href="/admin" class="nav-link px-2 ">Админ панель</a></li>
            {{/if}}
          {{else}}
          <li class="nav-item"><a href="/register" class="nav-link px-2 ">Регистрация</a></li>
          <li class="nav-item"><a href="/login" class="nav-link px-2 ">Авторизация</a></li>
          
          {{/if}}
        </ul>
      </div>
      <div class="d-flex flex-wrap justify-content-between">
        <div class="input-group">
        <form class="mx-1" role="search" id="search-activities-form">
            <input type="text" class="form-control" id="search-activities-input" placeholder="Поиск">
       
        </form>
        {{#if user}}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" id="dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.name}}
          </button>
          <ul class="dropdown-menu" id="dropdown-menu">
            <li><a class="dropdown-item" href="/users/{{user.id}}">Учетная запись</a></li>
            <li><a class="dropdown-item" href="/api/auth/logout">Выйти</a></li>
          </ul>
        </div>
        {{/if}}
       </div>
          </div>
      </div>
    </div>
  </header>