<!DOCTYPE html>
<html lang="en" >
<head>
  {{>meta}}
    
    <title>Добавить занятие</title>
</head>
<body class="" >
  {{>nav}}
    <div class="container bg-primary-subtle">  
     
     
           
      <div class="my-3 p-3 bg-body rounded shadow-sm border">
        <h6 class="border-bottom pb-2 mb-0">Выложить статью</h6>
       
          <form  enctype="multipart/form-data" id="file-form">
                
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" name="title" id="file-title" placeholder="Название">
                </div>
                 <div class="form-floating mb-2 w-20">
                    <input type="file" class="form-control" name="file" id="file-file" placeholder="Файл">
                </div>
                <div id="validationServerUsernameFeedback" class="text-danger"></div>
                <div id="file-success" class="text-success"></div>
                <button class="w-100 btn btn-lg btn-primary" type="button" id="file-submit">Выложить</button>
          </form>
      </div>
      <div class="my-3 p-3 bg-body rounded shadow-sm border" >
        <h6 class="border-bottom pb-2 mb-0">Пользователи</h6>
        <div id="users">
   
          
        </div>
       <nav aria-label="Page navigation example" class="text-center my-4">
  <ul class="pagination d-flex justify-content-center" id="pagination-users">
   
  </ul>
</nav>
      </div>
      <div class="my-3 p-3 bg-body rounded shadow-sm border">
        <h6 class="border-bottom pb-2 mb-0">Приказы</h6>
        <div id="files">
   
          
        </div>
       <nav aria-label="Page navigation example" class="text-center my-4">
          <ul class="pagination d-flex justify-content-center" id="pagination-files">
          
          </ul>
        </nav>
          
      </div>
              
              
                  </div>
{{>footer}} 
<script type="text/javascript">

    $(window).on('load', function() {


      getUsers(1)
      getFiles(1)

    $("#file-submit").on('click',async()=>{ //file
        const formData = new FormData();
        const fileField = $('#file-file')[0];
        
        formData.append("title", $('#file-title').val());
        formData.append("file", fileField.files[0]);
        let response = await fetch('/api/files',{
        method: 'POST',
        body: formData
        })
        let text = await response.text()

        if(response.ok){
          let newactivity = JSON.parse(text )
          console.log(newactivity)
            $('#validationServerUsernameFeedback').empty()
          $('#act-success').empty().append(`<p>Успешно добавлено занятие <a href="/activities/${newactivity.id}">${newactivity.name}</a></p>`)
        }else{
        console.log(text)
          $('#act-success').empty()
            $('#validationServerUsernameFeedback').empty().append(`<p>${text}</p>`)
            
            $('#activity-form>input').css('border-color', 'red'); 
        } 
    }) //activity

        $("#cat-submit").on('click',async()=>{ //category
        const user = {
          name:$('#cat-title').val()
        }
        let response = await fetch('/api/categories',{
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(user)
        })
        let text = await response.text()

        if(response.ok){
          let newactivity = JSON.parse(text )
          console.log(newactivity)
            $('#catValid').empty()
          $('#cat-success').empty().append(`<p>Успешно добавлена категория <a href="/activities/${newactivity.id}">${newactivity.name}</a></p>`)
        }else{
        console.log(text)
          $('#cat-success').empty()
            $('#catValid').empty().append(`<p>${text}</p>`)
            
            $('#category-form>input').css('border-color', 'red'); 
        }
    })

    })
    
</script>

</body>
</html>