<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
    {% include "meta.html" %}
    
    <title>{{title}}</title>
</head>
<body>
    
   {% include "nav.html" %}
    <div class="container"> 
            <div class="d-flex flex-wrap align-items-center justify-content-between">
              <h3 class="my-0">{{title}} {% if client_signed  %} <span class="badge text-white bg-success">Подписал</span>{% else %}
                  <span class="badge text-white bg-danger">Не подписал</span>{% endif %}
              </h3>
             <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                {% if not client_signed and auth%}
                <div class="input-group">
                    <form method="POST"> {% csrf_token %}
                    <input class="form-control" type="password" name="password" placeholder="Секретная фраза" maxlength="80" required="" id="id_password" aria-label="Input group example" aria-describedby="btnGroupAddon">
                
                </div>
                <div class="btn-group" role="group" aria-label="First group">
                  <button type="submit" class="btn btn-outline-primary" >Подписать</button>
                </form> 
                </div>{% endif %}
              </div> 
              </div>
            
              {% if errors %} 
              <div class="modal fade in"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content bg-danger text-white">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                      <button type="button" class="close text-white" id="closeModal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {% for er in errors %}
                      {{er}}
                      {% endfor %}
                    </div>
                   
                  </div>
                </div>
              </div>
              {% endif %}
            
<iframe id="frame" src="/media/{{filename.file}}"
        width="100%" height="700px"></iframe>
</div>
      {% include "footer.html" %}



     <!--  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
          Вы не расписались в ведомости
          <div class="mt-2 pt-2 border-top">
            <button type="button" class="btn btn-primary btn-sm">Расписаться</button>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Закрыть</button>
          </div>
        </div>
      </div> -->
      <script type="text/javascript">
        $(window).on('load', function() {
            $('#exampleModal').modal('show');
            $('#closeModal').on('click', ()=>{
                $('#exampleModal').modal('hide');
            })
        });
    </script>
    
</body>
</html>