<!DOCTYPE html>
<html lang="en" >
<head>
  {{>meta}}
    
    <title>Главная</title>
   
</head>
<body class="" >
  {{>nav}}
    <div class="container bg-primary-subtle"> 
      <div class="row">
        
        <div class="col-8 mx-auto"><ol id="list" class="list-group">
          
       
          </ol>
          <nav aria-label="Page navigation example" class="text-center my-4">
  <ul class="pagination d-flex justify-content-center" id="pagination">
   
  </ul>
</nav></div>
      </div>
      
        
         
              
              
                  </div>
{{>footer}}

<script type="text/javascript">


$(window).on('load', function() {
  let urlParams = new URLSearchParams(window.location.search);
  const page = urlParams.get('page')||1;
  const name = urlParams.get('name')
  getData(page, name||'')    
  $('#filter-name').on('keyup', async()=>{
    getData(page, $('#filter-name').val()||'')
  })
});
</script>
                 
</body>
</html>