<!DOCTYPE html>
<html lang="en" >
<head>
  {{>meta}}
    
    <title>Главная</title>
   
</head>
<body class="" >
  {{>nav}}
    <div class="container bg-primary-subtle"> 
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">Настроим Ваши рекомендации</h5>
                        <a style="cursor:pointer" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</a>
                    </div>
                    <div class="modal-body">
                        Выберите наиболее интересующие вас занятия, чтобы мы смогли предложить Вам наши рекомендации
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Выбрать</button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Ваши предпочтения</h5>
                        <a style="cursor:pointer" class="btn-close set-rec" data-bs-dismiss="modal" aria-label="Close">&times;</a>
                    </div>
                    <div class="modal-body" id="rec-cat">
                        
                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="cat-next" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">Далее</button>
                    </div>
                    </div>
                </div>
                </div>
                <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel2">Занятия на основе выбранных Вами категорий</h5>
                        <a style="cursor:pointer" class="btn-close set-rec" data-bs-dismiss="modal" aria-label="Close">&times;</a>
                    </div>
                    <div id="rec-act" class="modal-body">
                       
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Назад</button>
                        <button class="btn btn-primary" aria-label="Close" data-bs-dismiss="modal">Готово</button>
                    </div>
                    </div>
                </div>
                </div>
                
                   
      <div class="row">
        <div class="col-4"><h4>Фильтры</h4>
        <form  enctype="multipart/form-data" id="activity-form">
                
                <div class="form-floating mb-3">
                  <label for="title">Название</label>
                    <input type="text" class="form-control" name="title" id="filter-name" placeholder="Название активности или номер группы">
                </div>
                
                <div class="form-floating mb-3">
                  <label for="cat_1">Направление</label>
                 <select id="cat_1" class="selectpicker multi-select form-control" title="Выберите направление" multiple data-live-search="true">
                 {{#each select}}
                    <option value="{{this.cat_1}}">{{this.cat_1}}</option>
                 {{/each}}
                  </select>
                </div>

                 <div class="form-floating mb-3">
                  <label for="type">Формат занятий</label>
                    <select class="form-control" name="type" id="type">
                      <option value="0">Все</option>
                      <option value="1">Оффлайн</option>
                      <option value="2">Онлайн</option>
                    </select>
                </div>
                <div class="form-floating mb-3">
                  <label for="district">Район</label>
                  <select id="district" class=" form-control" title="Выберите район"  data-width="100px" data-live-search="true">
                      <option value="0">Все</option>
                  </select>
                </div>
                 <div class="form-floating mb-3" id="weekday">
                  <label for="weekday" class="btn btn-primary color-white">
                      Выбрать дни недели
                    </label>
                    
                  <div class="" id="weekdayCol">
                    
                  <div class="form-check">
                    <input class="form-check-input week" type="checkbox" id="monday" name="vehicle1" value="Пн">
                    <label class="form-check-label" for="monday">Понедельник</label></div><div class="form-check">
                    <input class="form-check-input week" type="checkbox" id="tuesday" name="vehicle1" value="Вт">
                    <label class="form-check-label" for="tuesday">Вторник</label></div><div class="form-check">
                    <input class="form-check-input week" type="checkbox" id="wednesday" name="vehicle1" value="Ср">
                    <label class="form-check-label" for="wednesday">Среда</label></div><div class="form-check">
                    <input class="form-check-input week" type="checkbox" id="thursday" name="vehicle1" value="Чт">
                    <label class="form-check-label" for="thursday">Четверг</label></div><div class="form-check">
                    <input class="form-check-input week" type="checkbox" id="friday" name="vehicle1" value="Пт">
                    <label class="form-check-label" for="friday">Пятница</label></div><div class="form-check">
                    <input class="form-check-input week" type="checkbox" id="saturday" name="vehicle1" value="Сб">
                    <label class="form-check-label" for="saturday">Суббота</label></div><div class="form-check">
                    <input class="form-check-input week" type="checkbox" id="sunday" name="vehicle1" value="Вс">
                    <label class="form-check-label" for="sunday">Воскресенье</label></div>
                </div>
                </div>
                <div class="form-floating mb-3">
                  <div class="form-check">
                    <input class="form-check-input"  type="checkbox" value="" id="status" > 
                    <label class="form-check-label" for="status">
                      Группа занимается
                    </label>
                  </div>

                </div>
               
                <div id="validationServerUsernameFeedback" class="text-danger"></div>
                <div id="act-success" class="text-success"></div>
                <button class="w-100 btn btn-lg btn-primary mt-2" type="button" id="filter-submit">Поиск</button>
            </form>

            <div class="card my-4">
              <div class="card-header">
                <h5 class="mb-0">ПРОМО занятия</h5>
              </div>
              <div class="card-body p-2">
                <ol id="promo-list" class="list-group">
                  <a href="/groups/123" class="list-group-item-action border-bottom py-3 d-flex justify-content-between align-items-center" aria-current="true">
                            <p class="mb-0">Лекция мастер-класс в МГУ </p> <span class="badge bg-success text-white">Сегодня</span>
                          
                  </a>
                  <a href="/groups/456" class="list-group-item-action border-bottom py-3 d-flex justify-content-between align-items-center" aria-current="true">
                            <p class="mb-0">Экскурсия на ВДНХ </p><span class="badge bg-info text-white">Завтра</span>
                  </a>
                </ol>
              </div>
            </div>
        </div>
        <div class="col-8"><ol id="list" class="list-group">
          
       
          </ol>
          <nav aria-label="Page navigation example" class="text-center my-4">
  <ul class="pagination d-flex justify-content-center" id="pagination">
   
  </ul>
</nav></div>
      </div>
      
        
         
              
              
                  </div>
{{>footer}}

<script type="text/javascript">
function getDate(today){
  const yyyy = today.getFullYear();
let mm = today.getMonth() + 1; // Months start at 0!
let dd = today.getDate();

if (dd < 10) dd = '0' + dd;
if (mm < 10) mm = '0' + mm;

return {str:dd + '.' + mm + '.' + yyyy, dd, mm, yyyy};
}

function getData(page,type,id, days, status, cat_1, activities, district){
  let params = `/?type=${type||''}&id=${id||''}&days=${days||''}&status=${status}&cat_1=${cat_1||''}&activities=${activities||''}&district=${district||''}&`
  let url = `/api/groups${params}`
  fetch(`${url}page=${page||1}`).then(response => response.json()).then(res=>{

        $('#list').empty()
        for( let r of res.groups){
          if(r.schedule_1){
              let date = r.schedule_1.split(';')
              //console.log(date)
              const today =getDate(new Date())
              let curDate=[]
              for(let i = 0;i<date.length;i++){
                  if(date[i].split(' ')[1].split('.')[2]==today.yyyy/*&&
                  date[i].split(' ')[3].split('.')[1]>=today.mm && 
                  date[i].split(' ')[3].split('.')[0]>=today.dd*/){
                    curDate.push(date[i])
                  }
              }
              let type=''
              let color=''
              if(r.activity.includes('ОНЛАЙН')){
                type='Онлайн формат'
                color='secondary'
              }else{
                type='Очный формат'
                color='primary'
              }
              //<span class='rounded p-1 text-secondary border border-secondary'>Для ума</span>
              if(curDate.length!=0){
              let li = `<a href="/groups/${r.id}" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <div>
                          <p>${r.cat_1}</p>
                          <h4 class="mb-1"><b>${r.activity}</b></h4>
                          <p><span class="badge bg-${color} display-6 text-white mr-2">${type}</span><span class="badge bg-success text-white">Группа занимается</span></p>
                          <address >${r.address||'Онлайн'}</address>
                         <blockquote class="blockquote"><b>Группа <span class="text-secondary">${r.id}</span></b></blockquote>
                           <figcaption class="blockquote-footer">
                            ${curDate[0].split(',')[0]}
                          </figcaption>

                          <p>${curDate[0].split('3,')[1].replace('.', '')}</p>
                          
                          
                          </div>
                          <div class="text-right w-30 text-success">
                         <p class="mb-1">${r.cat_2}</p>
                          </div>
                          
                        </div>
                         <div class="d-flex w-100 justify-content-between align-items-center">
                        
                       <button class='btn btn-primary float-right'>Записаться</button>
                        </div>
                      </a>
                      `
                      $('#list').append(li)
              }else{
                let li = `<a href="/groups/${r.id}" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <div>
                          <small>${r.cat_1}</small>
                          <h5 class="mb-1">${r.activity}</h5>
                          <p><span class="badge bg-${color} text-white mr-2">${type}</span><span class="badge bg-danger text-white">Закончились</span></p>
                          <address>${r.address.split(', г')[0]||'Онлайн'}</address>
                          <b>Группа ${r.id}</b>
                          <p>Занятия закончились</p>
                          </div>
                          <div class="text-right w-30 text-success">
                         <p class="mb-1">${r.cat_2}</p>
                          </div>
                        </div>
                       
                        
                      </a>
                      `
                      $('#list').append(li)
              }
          }
            
        }
        $('#pagination').empty()
        if(res.currentPage>1){
        $('#pagination').append(` <li class="page-item"><a class="page-link" href="${params}page=1">В начало</a></li>
    <li class="page-item"><a class="page-link" href="${params}page=${res.currentPage-1}">${res.currentPage-1}</a></li>
    <li class="page-item active"><a class="page-link" href="${params}page=${res.currentPage}">${res.currentPage}</a></li>`)
        if(res.currentPage!=res.totalPages){
        $('#pagination').append(` 
        <li class="page-item"><a class="page-link" href="${params}page=${res.currentPage+1}">${res.currentPage+1}</a></li>
        <li class="page-item"><a class="page-link" href="${params}page=${res.totalPages}">В конец</a></li>`)
        }
        }else{
           $('#pagination').append(` <li class="page-item disabled"><a disabled class="page-link" href="/?page=1&type=${type||''}&id=${id||''}">В начало</a></li>
     <li class="page-item active"><a class="page-link" href="${params}page=${res.currentPage}">${res.currentPage||1}</a></li>`)
          if(res.currentPage!=res.totalPages){
        $('#pagination').append(` 
        <li class="page-item"><a class="page-link" href="${params}page=${res.currentPage+1}">${res.currentPage+1}</a></li>
        <li class="page-item"><a class="page-link" href="${params}page=${res.totalPages}">В конец</a></li>`)
        }
        }
        
})
}

$(window).on('load', function() {

  
 
      
  let urlParams = new URLSearchParams(window.location.search);
  let  act_name = urlParams.get('name');
  let  id = urlParams.get('id');
  let page =  urlParams.get('page');
  let type =  urlParams.get('type');
  let days =  urlParams.get('days');
  let status =(urlParams.get('status')==='true')
  let cat_1 = urlParams.get('cat_1');
  let activities = urlParams.get('activities');
  let district = urlParams.get('district');
  if(urlParams.get('status')===null){
    status=true
  } 
 
    $('#status').attr('checked', status)
    

let dst = `Академический
Алексеевский
Алтуфьевский
Арбат
Аэропорт
Бабушкинский
Басманный
Беговой
Бескудниковский
Бибирево
Бирюлёво Восточное
Бирюлёво Западное
Богородское
Братеево
Бутырский
Вешняки
Внуково
Войковский
Восточное Дегунино
Восточное Измайлово
Восточный
Выхино-Жулебино
Гагаринский
Головинский
Гольяново
Даниловский
Дмитровский
Донской
Дорогомилово
Замоскворечье
Западное Дегунино
Зюзино
Зябликово
Ивановское
Измайлово
Капотня
Коньково
Коптево
Косино-Ухтомский
Котловка
Красносельский
Крылатское
Крюково
Кузьминки
Кунцево
Куркино
Левобережный
Лефортово
Лианозово
Ломоносовский
Лосиноостровский
Люблино
Марфино
Марьина Роща
Марьино
Матушкино
Метрогородок
Мещанский
Митино
Можайский
Молжаниновский
Москворечье-Сабурово
Нагатино-Садовники
Нагатинский Затон
Нагорный
Некрасовка
Нижегородский
Ново-Переделкино
Новогиреево
Новокосино
Обручевский
Орехово-Борисово Северное
Орехово-Борисово Южное
Останкинский
Отрадное
Очаково-Матвеевское
Перово
Печатники
Покровское-Стрешнево
Преображенское
Пресненский
Проспект Вернадского
Раменки
Ростокино
Рязанский
Савёлки
Савёловский
Свиблово
Северное Бутово
Северное Измайлово
Северное Медведково
Северное Тушино
Северный
Силино
Сокол
Соколиная Гора
Сокольники
Солнцево
Старое Крюково
Строгино
Таганский
Тверской
Текстильщики
Тёплый Стан
Тимирязевский
Тропарёво-Никулино
Филёвский Парк
Фили-Давыдково
Хамовники
Ховрино
Хорошёво-Мнёвники
Хорошёвский
Царицыно
Черёмушки
Чертаново Северное
Чертаново Центральное
Чертаново Южное
Щукино
Южное Бутово
Южное Медведково
Южное Тушино
Южнопортовый
Якиманка
Ярославский
Ясенево`
    
   
let dst_arr = dst.split('\n')
for(let i=0; i<dst_arr.length;i++){
  dst_arr[i].replaceAll(/\s/g, '')
  $('#district').append(`<option value="${dst_arr[i]}">${dst_arr[i]}</option>`)
}
      



  getData(page, type, id, days, status, cat_1, activities,district)


  $('#filter-name').val(id)
  $('#type').val(type||0).change();
if(cat_1){
  $('#cat_1').val(cat_1.split(',')).change()
}
if(activities){
  $('#filter-name').val(activities.split(',').join(', ')).change()
}
  if(days){
    let arr = days.split(',')
  for(let i =0; i<arr.length;i++){
    $(`.week:input[value="${arr[i]}"]`).attr('checked', 'checked');

  }
  }
  $('#filter-submit').on('click',()=>{
    let weekDays=[]
    $('.week:checked').each(function() {
      weekDays.push(this.value);
    });
    
    const filter = {
      id:$('#filter-name').val(),
      cat_n:$('#filter-cat').val(),
      type:$('#type').val(),
      status:$('#status').is(':checked'),
      cat_1:$('#cat_1').val(),
      district:$('#district').val()==0?'':$('#district').val()
      
    }
    console.log(filter.district)
    urlParams.set('type',$('#type').val())
    urlParams.set('id',$('#filter-name').val())
    getData(1,filter.type, filter.id.split(', ').join(), weekDays.join(), filter.status, filter.cat_1.join(), activities,filter.district)
    
      })
});
</script>
                 
             </body>
             </html>