<!DOCTYPE html>
<html lang="en" >
<head>
  {{>meta}}
    
    <title>Главная</title>
   
</head>
<body class="" >
  {{>nav}}
    <div class="container bg-primary-subtle"> 
      <div class="row">
        <div class="col-4"><h4>Фильтры</h4>
        <form  enctype="multipart/form-data" id="activity-form">
                
                <div class="form-floating mb-3">
                  <label for="title">Название</label>
                    <input type="text" class="form-control" name="title" id="filter-name" placeholder="Название активности или номер группы">
                </div>
                
               
                <div id="validationServerUsernameFeedback" class="text-danger"></div>
                <div id="act-success" class="text-success"></div>
                <button class="w-100 btn btn-lg btn-primary mt-2" type="button" id="filter-submit">Поиск</button>
            </form>

        </div>
        <div class="col-8"><ol id="list" class="list-group">
          
       
          </ol>
          <nav aria-label="Page navigation example" class="text-center my-4">
  <ul class="pagination d-flex justify-content-center" id="pagination">
   
  </ul>
</nav></div>
      </div>
      
        
         
              
              
                  </div>
{{>footer}}

<script type="text/javascript">


$(window).on('load', function() {
  let urlParams = new URLSearchParams(window.location.search);
  const page = urlParams.get('page')||1;
  const name = urlParams.get('name')
  getData(page, name||'')    
  $('#filter-name').on('keyup', async()=>{
    getData(page, $('#filter-name').val()||'')
  })
});
</script>
                 
</body>
</html>