<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
  <link rel="stylesheet" href="/static/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/dist/css/bootstrap-grid.css" >
     <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/dist/css/sign-in.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">

    <title>Обработка результатов...</title>
</head>
<body class="text-center ">
   
    
<main class="w-100 m-auto form-signin ">
<div class="text-center">
  <div class="spinner-border" role="">
    <span class="sr-only">Загрузка...</span>
  </div>
</div>
   
 
</main>
{{>footer}}
<script type="text/javascript">

</script>
</body>
</html>