{% load static %}
<header class="p-3 mb-3 border-bottom   nav" >
    <div class="container" >
      <div class="d-flex flex-wrap align-items-center justify-content-between ">
        <div class="d-flex justify-content-between">
        <a href="/" class="d-flex flex-wrap align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <img src="{% static "logo.png" %}" width="45" height="45" alt="">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-primary-emphasis">
          <li class="nav-item"><a href="/" class="nav-link px-2 ">Главная</a></li>
          {% if  not client %}
          <li><a href="/login" class="nav-link px-2 ">Авторизация</a></li>
          <li><a href="/register" class="nav-link px-2 link-body-emphasis ">Регистрация</a></li>
          {% else %}
          {% if client.role.name == 'admin' %}
          <li><a href="/tables" class="nav-link px-2 link-body-emphasis ">Ведомости</a></li>
          
          <li><a href="/upload" class="nav-link px-2 link-body-emphasis ">Загрузить документ</a></li>
          {% endif %}
          {% endif %}
        </ul>
      </div>
      <div class="d-flex flex-wrap justify-content-between">
        <div class="input-group">
        <form action="/" class="mx-1" role="search">
            {{short.form}}
       
        </form>
        {% if  client %}
        
       
          <button type="button" class="btn btn-outline-primary dropdown-toggle" style="border-radius: 0.25rem 0 0 0.25rem;"  data-bs-toggle="dropdown" aria-expanded="false">
            Уведомления <span class="badge text-bg-secondary">{{notify.count}}</span>
          </button>
          
          <ul class="dropdown-menu">
            {% for ntf in notify %}
            <li><a class="dropdown-item" href="/article/{{ntf.file.id}}">{{ntf.file.name}}</a></li>
            {% endfor %}
          </ul>  
            <button class="btn btn-outline-secondary dropdown-toggle" style="border-radius:  0 0.25rem 0.25rem 0 ;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Мой аккаунт
            </button>
            <ul class="dropdown-menu">
              {% if client.role.name == 'admin' %}
              <li><a class="dropdown-item" href="/tables">Ведомости</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/account">Редактировать</a></li>
              <li><a class="dropdown-item" href="/logout">Выйти</a></li>
            </ul>
            
        
          {% endif %}</div>
          </div>
      </div>
    </div>
  </header>