<!DOCTYPE html>
<html lang="en" >
<head>
    <link rel="stylesheet" href="/static/dist/css/load.css" >
  {{>meta}}
     
    <title>Тест</title>
     <script src="https://api-maps.yandex.ru/2.1/?apikey={{api_key}}&lang=ru_RU" type="text/javascript">
    </script>
</head>
<body class="" >
  {{>nav}}
    <div class="container bg-primary-subtle m-auto"> 
        <div class="modal fade text-center" id="load" tabindex="-1" style="width:300px;margin:200px auto 0;" aria-labelledby="loadLabel" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">Загрузка...</div>
                <div class="modal-body">
            <svg role="img" aria-label="Mouth and eyes come from 9:00 and rotate clockwise into position, right eye blinks, then all parts rotate and merge into 3:00" class="smiley" viewBox="0 0 128 128" width="128px" height="128px">
                <defs>
                    <clipPath id="smiley-eyes">
                        <circle class="smiley__eye1" cx="64" cy="64" r="8" transform="rotate(-40,64,64) translate(0,-56)" />
                        <circle class="smiley__eye2" cx="64" cy="64" r="8" transform="rotate(40,64,64) translate(0,-56)" />
                    </clipPath>
                    <linearGradient id="smiley-grad" x1="0" y1="0" x2="0" y2="1">
                        <stop offset="0%" stop-color="#000" />
                        <stop offset="100%" stop-color="#fff" />
                    </linearGradient>
                    <mask id="smiley-mask">
                        <rect x="0" y="0" width="128" height="128" fill="url(#smiley-grad)" />
                    </mask>
                </defs>
                <g stroke-linecap="round" stroke-width="12" stroke-dasharray="175.93 351.86">
                    <g>
                        <rect fill="hsl(193,90%,50%)" width="128" height="64" clip-path="url(#smiley-eyes)" />
                        <g fill="none" stroke="hsl(193,90%,50%)">
                            <circle class="smiley__mouth1" cx="64" cy="64" r="56" transform="rotate(180,64,64)" />
                            <circle class="smiley__mouth2" cx="64" cy="64" r="56" transform="rotate(0,64,64)" />
                        </g>
                    </g>
                    <g mask="url(#smiley-mask)">
                        <rect fill="hsl(223,90%,50%)" width="128" height="64" clip-path="url(#smiley-eyes)" />
                        <g fill="none" stroke="hsl(223,90%,50%)">
                            <circle class="smiley__mouth1" cx="64" cy="64" r="56" transform="rotate(180,64,64)" />
                            <circle class="smiley__mouth2" cx="64" cy="64" r="56" transform="rotate(0,64,64)" />
                        </g>
                    </g>
                </g>
            </svg>
            </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="exampleModalLabel">Уже зарегистрированы?</h4>
                <button type="button" id="modalClose" class="btn btn-danger btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Введите идентификатор пользователя, если Вы уже зарегистрированы</label>
                    <input type="text" class="form-control" id="userId" placeholder="ID">
                </div>
                <button type="button" id="modalSearch" class="btn btn-primary">Найти</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                
            </div>
            </div>
        </div>
</div>

                <div class="d-flex justify-content-end row">
                    <div class="col-md-8 col-lg-8">
                        <div class="border">
                            <div class="question bg-white p-3 border-bottom">
                                <div class="d-flex flex-row justify-content-between align-items-center " id="q-number">
                                    <span>Шаг 1 из 7</span></div>
                            </div>
                            <div class="question bg-white p-3 border-bottom" >
                                <div class="d-flex flex-row align-items-center question-title" id="quest-title">
                                    <h4 class="mt-1 ml-2"></h4>
                                </div>
                                <div class="ans ml-2" id="ans-block">
                                     
                                    
                                </div><div id="error-msg" class="text-danger">
                                    
                                </div>
                                
                </div>
                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                        {{!-- <button class="btn btn-primary d-flex align-items-center btn-danger" type="button">
                            <i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;Назад</button> --}}
                        <button class="btn btn-primary border-success align-items-center btn-secondary" data-id="0" id="next-btn" type="button">Далее
                            <i class="fa fa-angle-right ml-2"></i></button>
                    </div>
                </div>
            </div>
        </div><input type="hidden" name="" id="host" value="{{host}}">

    </div>
         
              
              
{{>footer}} 
           <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>       
<script>
$('#exampleModal').modal('show');
$('#modalClose').on('click',()=>{
    $('#exampleModal').modal('hide');
})

$('#modalSearch').on('click', ()=>{
    let id = $('#userId').val()
    registered(id)
})
ymaps.ready(init);

function init() {
  var location = ymaps.geolocation.get({provider: 'yandex', autoReverseGeocode:true});

location.then(
  function(result) {
    var userAddress = result.geoObjects.get(0).properties.get('text');
    console.log(userAddress)
    console.log(result.geoObjects.get(0).properties.get('boundedBy'))
    ymaps.geocode('Москва, Льва Толстого', { results : 1 }).then(res=>{

        console.log(ymaps.geocode(userAddress, { kind: 'district', results: 1 }))

    })
  },
  function(err) {
    console.log('Ошибка: ' + err)
  }
);
}


const questions=[{
     title:'Укажите Ваш пол?',
    options:['Мужчина','Женщина']
},
{
    title:'Чем вы занимались в детстве?',
    options:['Спортом и различными видами активной деятельности', 'Пение', 'Рисование']
},
{
    title:'Что бы вы выбрали?',
    options:['Отправиться в поход', 'Посетить санаторий', 'Провести время дома за книгой']
},
{
    title:'Какие телепередачи вы смотрите?',
    options:['Выпуски новостей, интеллектуальные викторины', 'Различные музыкальные, танцевальные и развлекательные шоу', 'Спортивные трансляции и передачи про здоровье']
}

]
let results=[]
var socket = io(':3001');
async function registered(id){
    
    socket.emit("user", id);
    $('#load').modal('show');
    $('#exampleModal').modal('hide');
   
}

 socket.on('userRes',(data)=>{
        $('#load').modal('hide');
        let res = JSON.parse(data)
        window.location.href=`http://${$('#host').val()}/?status=true&type=&days=&id=&activities=${res.join(',')}`
    } )

async function sendResults(res){
    
    socket.emit("results", res);
    $('#load').modal('show');
   
}

 socket.on('response',(data)=>{
        console.log(data)
        let response = JSON.parse(data)
        console.log(response)
        window.location.href=`http://${$('#host').val()}/?status=true&type=&activities=${response.join(',')}`
    } )

function showQuestion(n,t){
    if(t==n){
        return true
    }
    let q=questions[n]
    $('#q-number').empty()
    $('#q-number').append(`<span>Шаг ${n+1} из ${t}</span>`)
    $('#quest-title').empty()
    $('#quest-title').append(`<h4 class="mt-1 ml-2">${q.title}</h4>`)
    $('#ans-block').empty()
    for(let i=0;i<q.options.length;i++){
        $('#ans-block').append(`<div class="form-check">
                                        <input class="form-check-input answer" type="radio" value="${q.options[i]}" name="1" id="ans-${i+1}">
                                        <label class="form-check-label" for="age-1">
                                            ${q.options[i]}
                                        </label>
                                    </div>`)
    }
    $('#next-btn').data('id',n)
    
     return false
}

$('#next-btn').on('click',()=>{
    let arr=[]
    $('.answer:checked').each(function() {
        arr.push(this.value);
        results.push(this.value);
    });
    if(arr.length<1){
        
        $('#error-msg').html(`<p class='text-danger'>Вы ничего не выбрали! Чтобы продолжить тест, необхзодимо один из приведенных ответов</p>`)
    }else{
        $('#error-msg').empty()
        let isFinished = showQuestion($('#next-btn').data('id')+1,questions.length)
        if(isFinished){
            console.log(results)
            sendResults(results)
        }
       
    }
})
showQuestion(0,questions.length)
</script>
</body>
</html>