<div class="header">
    <div class="search">
        <form class='short' action="/" method="get">
       {{short.form}}
       
       <button id="short_search" type="submit">Поиск</button>
       <button type="button" id="opener" class="opener">Расширенные фильтры</span>
       
        
        </form>
       
        
    </div>
    <div class="slide" id="slide">
    <form action="/" method="GET" class="full">
        <div class="filter_columns">
        <div class="third">
            {{filter.form.name}}
            {{filter.form.date}}
        </div>
        <div class="third">
            {{filter.form.signatures}}
            {{filter.form.rating__lt}}</div>
            <div class="third">
               <label for="ordering">Сортировать по: </label> {{filter.form.ordering}}
            </div>
        </div>
        <button type="submit">Поиск</button>
    </form>
    </div>
</div>