<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "css/all.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap" rel="stylesheet">
<script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="{% static "pdf.js" %}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>{{title}}</title>
</head>
<body onload="init()">
    <div class="container">
        <main>
            {% include "nav.html" %}
           
            <div id="content">
                <ul id="tabs">
                    <li><a href="#article">Cодержимое статьи</a></li>
                    <li><a href="#signers">Статистика доведения</a></li>
                  </ul>
                
                  <div id="article" class="tabContent">
                    
                    <iframe src="/media/{{filename}}"
                    width="100%" height="700px"></iframe>

                   
                  </div>
                  <div id="signers" class="tabContent">
                    <table id="tableSigners">
                        <thead>
                            <tr>
                                <th>
                                    ФИО, адрес кошелька
                                </th>
                                <th>
                                   
                                    Подпись
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>
                                    {{user.name}}, {{user.wallet}}
                                </td>
                                <td>
                                    {% if user.signed %}
                                    <i class="fa-solid fa-signature"></i> {% endif %}{{user.signed|yesno:"Подписал, Не подписал"}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% for sign in signatures %}
                            <tr>
                                <td>
                                    {{sign.file}} {{sign.user}}
                                </td>
                                <td>
                                    <i class="fa-solid fa-signature"></i> {{sign.hash}} {{sign.date}}
                                </td>
                            </tr>
                            {% endfor %}
                  </div>
                  
                  
                  
                  
            </div>
            {% if not client_signed and  auth %}
            <div id="sign_block"><form method="POST"> {% csrf_token %} <input type="password" name="password" placeholder="Секретная фраза" maxlength="80" required="" id="id_password"><button id="sign" type="submit">Подписать</button></form>
               
             </div>
             {% endif %}
             {% if errors %}
             <div id="alert">
                <div id="close" onclick="document.getElementById('alert').style.display='none'"><i style="color:white" class="fa-solid fa-xmark"></i></div>
             {% for er in errors %}
                    <p > {{er}}</p>
                 {% endfor %}
                
                </div>
                {% endif %}
        </main>
    </div>
   
    
</body>
</html>