<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
    {% include "meta.html" %}
    
    <title>Статьи</title>
</head>
<body class="" >
    
   {% include "nav.html" %}
    <div class="container bg-primary-subtle">  
            
                    <table class="table align-middle" id="tableSigners">
                        <thead>
                            <tr>
                                <th>
                                    ФИО, адрес кошелька
                                </th>
                                <th>
                                   
                                    Подпись
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr class="align-center">
                                <td class="align-center">
                                    {{user.name}}
                                </td>
                                <td class="align-center">
                                    <!-- <a  class='check' href="/api/check/{{filename.id}}/{{user.id}}" data-url="/api/check/{{filename.id}}/{{user.id}}">
                                    --> {% if user.signed %}
                                    <i class="fa-solid fa-signature"></i>
                                    Подписал
                                    {% else %}
                                   
                                      <select  class="form-select form-control" name="" id="">
                                        <option>Болен</option>
                                        <option>Отпуск</option>
                                        <option>Командировка</option>
                                      </select>
                                    
                                   
                                     {% endif %}<!-- {{user.signed|yesno:"Подписал, Не подписал"}}</a> -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include "footer.html" %}
    </div>



                    <script type="text/javascript">
                      $(window).on('load', function() {
                          $('#exampleModal').modal('show');
                          $('#closeModal').on('click', ()=>{
                              $('#exampleModal').modal('hide');
                          })
                      });
                  </script>
                  
               </body>
               </html>