<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/all.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>Регистрация</title>
</head>
<body>
    <div class="container">
        <main>
            {% include "nav.html" %}
           
            <div id="content">
                <div id="sendFile">
                    <h2>Создание кошелька</h2>
                    {% block content %}
                    <form method = "post", enctype="multipart/form-data">
                    {% csrf_token %}
                   
                    {{form.name}}
                    <input type="password" name="password" placeholder="Секретная фраза" maxlength="80" required="" id="id_password">
                    <button id="send" type="submit"> Создать кошелек</button>
                    </form>
                    {% endblock %}
                </div>
               
            </div>

        </main>
    </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static "script.js" %}"></script>
</body>
</html>