<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
    {% include "meta.html" %}
    
    <title>Ведомости</title>
</head>
<body class="" >
    
   {% include "nav.html" %}
    <div class="container bg-primary-subtle">  
        <h2>Ведомости</h2>
        <ol class="list-group list-group-numbered mb-3">
            {% for file in files %}
           
            <li class="list-group-item d-flex justify-content-between align-items-start ">
                <a class="text-black text-decoration-none" href="/table/{{file.id}}">
              <div class="ms-2 me-auto text-dark">
                
                <div class="fw-bold" style="color: var(--indigo)">{{file.name}}</div>
                <span >{{file.date|date:'d.m.Y'}}</span>
              </div> </a>
              {% if file.completed %}   <span class="badge bg-success text-white rounded-pill"  >Завершено {{file.signed}}/{{total}}</span>
              {% else %}   <span class="badge bg-danger text-white rounded-pill"  > Не завершено {{file.signed}}/{{total}}</span>
              {% endif %}
               </li>
        {% endfor %} 
          </ol>
         
              
                <nav class=" " aria-label="Page navigation example">
                    <ul class="pagination justify-content-center"> {% if files.has_previous %}
                      <li class="page-item">
                       
                        <a class="page-link" style="background-color: #6f42c1;  color:white" href="/?page={{files.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li> {% endif %}
                      {% for page_number in files.adjusted_elided_pages %}
                   

                      {% if page_number == files.paginator.ELLIPSIS %}
                      <li class="page-item"><a class="page-link" style="background-color: #d63384;  color:white" href="/?page={{page_number}}">  {{page_number}}</a></li>

                          {{page_number}}

                      {% else %}
                      <li class="page-item"><a class="page-link" style="background-color: #6f42c1;  color:white" href="/?page={{page_number}}">  {{page_number}}</a></li>

                      {% endif %}
                            

                      {% endfor %}

                      {% if files.has_next %}
                    
                      <li class="page-item">
                        <a class="page-link" style="background-color: #6f42c1;  color:white" href="/?page={{files.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li> {% endif %}
                    </ul>
                  </nav>
                  </div>
                  {% include "footer.html" %}



                  <!--  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                     <div class="toast-body">
                       Вы не расписались в ведомости
                       <div class="mt-2 pt-2 border-top">
                         <button type="button" class="btn btn-primary btn-sm">Расписаться</button>
                         <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Закрыть</button>
                       </div>
                     </div>
                   </div> -->
                   <script type="text/javascript">
                     $(window).on('load', function() {
                         $('#exampleModal').modal('show');
                         $('#closeModal').on('click', ()=>{
                             $('#exampleModal').modal('hide');
                         })
                     });
                 </script>
                 
             </body>
             </html>