<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
    {% include "meta.html" %}
    
    <title>{{user.name}}</title>
</head>
<body class="" >
    
   {% include "nav.html" %}
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col  col-md-auto">
                    <h2>Загрузить статью</h2>
                    {% block content %}
                    <form method = "post", enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.name}}
                    <br>
                    <label class="input-file">
                        {{form.file}}
                       
                    </label>
                    <br>
                    <button id="send" class="btn btn-primary" type="submit"> Загрузить</button>
                    </form>
                    {% endblock %}
                    </div>
                </div>
            </div>

     
    {% include "footer.html" %}




     <script type="text/javascript">
       $(window).on('load', function() {
           $('#exampleModal').modal('show');
           $('#closeModal').on('click', ()=>{
               $('#exampleModal').modal('hide');
           })
       });
   </script>
   
</body>
</html>