@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src:  url('/static/Roboto/Roboto-Thin.ttf') format('truetype');
    
}
@font-face {
    font-family: 'Roboto';
    font-weight:normal;
    src:  url('/static/Roboto/Roboto-Light.ttf') format('truetype'),;
    
}
@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src:  url('/static/Roboto/Roboto-Medium.ttf') format('truetype'),;
    
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f7f9fb;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    background: #f7f9fb;;
    width: 100%;
}
#content{
    font-weight: lighter;
}
main{
    margin: 0 auto;
    width:80%;
    padding:25px;
}
.user{
    box-shadow: 0 4px 24px rgba(6,88,148,0.15);
    padding:15px;
    display: flex;
    margin-top: 25px;
    align-items: center;
    font-weight: lighter;
}
.res_data{
    width: 70%;
}
.res_info{
    width: 30%;
    padding: 0 0 0 15px;
}
.info-top{
    width: 30%;
    text-align: end;
    font-weight: normal;
}
.address{

    font-style: italic;
}
.res_id{
    font-weight: normal;
    font-size: 1.2em;
    color:rgb(12, 190, 15);
    margin: 7px 0;
}
.res_id i{
    color:rgb(12, 190, 15);
}
.res_desc{
    margin:10px 0;
}
.res_category{
    color:rgb(143, 143, 143);
    font-size: small;
}
.info-rating{
    font-size: 1.7em;
    font-weight: normal;
}
.number{
    font-size: 1.9em;
    font-weight: bold;
    color:green
}
.rate{
    vertical-align: super;
}

.header{
    height:auto;
    margin: 10px 0;
    background: #fff;
}
.search{
    background: #fff;
    color:#36bdff;
    padding:15px;
}
.short{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.full{
   text-align: center;
}
.full button{
    padding: 15px 25px;
}
.filter_columns{
    display:flex;
}
button{
    border-radius: 4px;
    
    background: #fff;
    border: 2px solid #36bdff;
    color: #36bdff;
    transition: all .4s;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    
}
button:hover{
    background: #36bdff;
    color:white;
}
.full input {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    margin-right: 35px;
}  
.full button{
    margin: 0 auto;
}
.full select{
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    margin-right: 10px;
    margin-right: 10px;
    margin-right: 35px;
    background: #fff;
}
.full input:active, .full select:active{
    border: 2px solid #36bdff
}
.short input{
    padding: 10px;
    border: 2px solid #36bdff;
    border-radius: 4px;
    width:70%;
}
.short button{
    padding:10px;
}
.opener{
    background: #36bdff;
    color:white;
}
.slide{
    padding:20px;
    display: none;
}

#closer{display:none}
.active{display:block;}
#open_block button{
    display: inline;
}

#tableSigners{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-weight: lighter;
}

#tableSigners th, #tableSigners td{
    border: 1px solid #ddd;
  padding: 8px;
}
#tableSigners tr:nth-child(even){background-color: #f2f2f2;}

#tableSigners tr:hover {background-color: #ddd;}

#tableSigners th {
    font-weight: normal;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #36bdff;
  color: white;
}
.card{
    padding:15px;
    display: flex;
}
.card h2{
    font-weight: normal;
    color:green;
}
.general{
    display: flex;
    justify-content: space-between;
}
.col-2{
    width:50%;
}
.pagination{
    margin: 25px auto;
    text-align: center;
    background: white;
    width: 50%;
    padding: 15px;
    box-shadow: 0 4px 24px rgba(6,88,148,0.15);
  
    display: flex;
justify-content: space-between;
}
.pagination a{
    font-size: 1em;
    padding:10px;
    display: block;
}

.step-links > span, .step-links > a{
    padding:5px;
}
i{color:black;}
.current{
    background:rgba(6,88,148,0.15)
}

ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0;font-weight: normal; }
      ul#tabs li { display: inline; }
      ul#tabs li a { color: #36bdff; background-color: #fff; border: 1px solid #36bdff; border-bottom: none; padding: 0.3em; text-decoration: none; }
      ul#tabs li a:hover { background-color: #f1f0ee; }
      ul#tabs li a.selected { color: #fff; background-color: #36bdff;  padding: 0.7em 0.3em 0.38em 0.3em; }
      div.tabContent { border: 1px solid #36bdff; padding: 0.5em; background-color: #fff; }
      div.tabContent.hide { display: none; }
  .active{
    display:block
  }

  nav{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background: #36bdff;
    color: white;
  font-size: 1.1em;
  font-weight: normal;
  }

  nav a{
    color:white;
  }
  nav a i{
    color:white
  }

  #sendFile{
    width:30%;
    margin:15px auto;
    text-align: center;
    padding: 40px 20px;
    background:white;
    border:1px solid #36bdff;
    box-shadow: 0 4px 24px rgba(6,88,148,0.15);
  }
  #sendFile input[type=text], #sendFile input[type=password]{
    margin:15px;
    padding:7px;
    border:2px solid #36bdff;

  }
  #sendFile h2{
    color:#0a61bf;
    font-weight: normal;
  }
  #sendFile button{
    padding:7px 15px;
    display: inline;
    margin-top:30px
  }
  .input-file {
	position: relative;
	display: inline-block;
    margin:10px;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #36bdff;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #fff;
    color:#36bdff
}
.input-file:active .input-file-btn {
	background-color: #0a61bf;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}

.pagination{
    margin: 25px auto;
    text-align: center;
    background: white;
    width: 50%;
    padding: 15px;
    box-shadow: 0 4px 24px rgba(6,88,148,0.15);
  
    display: flex;
justify-content: space-between;
}
.pagination a{
    font-size: 1em;
    padding:10px;
    display: block;
}

.step-links > span, .step-links > a{
    padding:5px;
}
.pagination i{color:black;}
.current{
    background:rgba(6,88,148,0.15)
}

#sign_block{
    margin: 0 auto;
text-align: center;
width: fit-content;
}
#sign_block input{
border: 2px solid #36bdff;
 
padding: 10px 25px;
font-size: 1em;
border-radius: 0;
border-top: none;
display: inline;
border-right: none;

}
#sign{padding: 10px 25px;
    font-size: 1em;
    border-radius: 0;
    border-top: none;display:inline}

#alert{
    position: fixed;
    top:50%;
    left:50%;
    right:50%;
    background: #fd5f5f;
    z-index: 11111;
    width: 200px;
    height: fit-content;
    padding: 25px;
    color: white;
    left: 40%;
    right: 40%;
    width: 20%;
    text-align: center;
  }
  #close{
    font-size: 1.5em;
display: block;
width: 100%;
text-align: right;
  }